<!-- Page Header -->
<header class="page-header">
    <div class="container">
        <!--  CrewGuru Logo -->
        <h1 class="page-header--logo">
            {% include logo.svg %}
        </h1>        
        <!-- Search Box -->
        <button class="search--filter">☰</button>
        <button class="page-header--search">Quick search</button>
        <button class="btn page-header--upload-button">Advanced search</button>
        <ul class="page-header--utilities">
            <li><span>Messages</span><figure>5</figure></li>
            <li><span>Alerts</span><figure>9</figure></li>
            <li><span>Files</span></li>
            <li><span>Events</span><figure>18</figure></li>
        </ul>
        <a class="page-header--avatar" href="#"></a>
        <button class="btn page-header--account-button">Account</button>
    </div>
</header>

<!-- Main Navigation -->
<nav class="page-nav">
    <div class="container">
        <a class="page-nav--item active" href="#">Home</a>
        <a class="page-nav--item" href="#">About</a>
        <a class="page-nav--item" href="#">Crew</a>
        <a class="page-nav--item" href="#">Jobs</a>
        <a class="page-nav--item" href="#">Blog</a>
    </div>   
</nav>