<header class="page-header">
    
    <!--  CrewGuru Logo -->
    <h1 class="page-header--logo">
        {% include logo.svg %}
    </h1>

    <!-- Main Navigation -->
    <nav class="page-header--nav">
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Crew</li>
            <li><a href="#"></a>Jobs</li>
            <li><a href="#"></a>Blog</li>
        </ul>
    </nav>

    <!-- Search Box -->
    <input type="text" name="searchBox" id="search-box" class="page-header--search">
    <button class="page-header--upload-button">Upload Work</button>
    <ul class="page-header--utilities">
        <li>Messages<span>3</span></li>
        <li>Alerts<span>3</span></li>
        <li>Files</li>
        <li>Events<span>3</span></li>
    </ul>
    <a class="avatar" href="#"></a>
    <button class="page-header--account-button">Account</button>
</header>