<header class="page-header">
    <div class="container">
        <!--  CrewGuru Logo -->
        <h1 class="page-header--logo">
            {% include logo.svg %}
        </h1>

        <!-- Main Navigation -->
        <nav class="page-header--nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Crew</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>

        <!-- Search Box -->
        <button class="page-header--search">Quick search</button>
        <button class="btn page-header--upload-button">Upload Work</button>
        <ul class="page-header--utilities">
            <li><span>Messages</span><figure>5</figure></li>
            <li><span>Alerts</span><figure>9</figure></li>
            <li><span>Files</span></li>
            <li><span>Events</span><figure>18</figure></li>
        </ul>
        <a class="page-header--avatar" href="#"></a>
        <button class="btn page-header--account-button">Account</button>
    </div>
</header>